/* BODY */

body {
    font-family: 'Oxygen', sans-serif;
    color: white;
}

* {
    box-sizing: border-box;
    /*de breedte is de hele breedte en hoef je niet meer uit te rekenen door margin en padding en border bij elkaar op te tellen dat zit er al in */
    margin: 0;
}

body {
    background-color: #100e17;
}


p {
    font-size: 14px;
}

/* scrollbar bron: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */

/* width */
::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
    /*    border: #201c29;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom right, #EE991A, #EC3059);
    border-radius: .5em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom right, #EE991A, #EC3059);
}

/* ------- HEADER ------- */

header h1 {
    font-weight: 400;
    /*    padding: 0.4em 0em;*/
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    margin: 0;
    transition: .2s;
}


header {
    border-bottom: 1px solid #201c29;
}

header img {
    width: 4em;
    height: 4em;
    padding: .5em;
}

header section p {
    color: white;
}

/* FLEXBOX */

header,
header div,
header section {
    display: flex;
}

header {
    align-items: center;
    justify-content: space-between;
    padding: .5em 2em;
}

header div {
    align-items: center;
}


/* DARKMODE + LIGHTMODE section thing */


header section {
    width: 8em;
    height: 4em;
    background: linear-gradient(to bottom right, #EE991A, #EC3059);
    border-radius: .2em;
    align-items: center;
}




/* ------ MAIN ------ */

main article img {
    width: 16em;
    height: 24em;
    margin: auto;
}

main section article h2,
main section article p {
    margin: .5em;
}


/* - THE MOVIES - */


main section {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    margin: 1em;
    justify-items: center;

}

main section article {
    width: 19em;
    transition: .5s;
    padding: 1em;
    margin: .5em;
    margin-bottom: .7em;
}

/* responsive */

@media (min-width: 45em) /* als de pagina groter dan 40em wordt dan gaat de css hier verder */{


    main section {
        grid-template-columns: 1fr 1fr;
    }

    header h1 {
    font-size: 2em;
    }
}

@media (min-width: 70em) /* als de pagina groter dan 40em wordt dan gaat de css hier verder */{


    main section {
        grid-template-columns: 1fr 1fr 1fr;
    }
}




/* genre */

.genre {
    background: linear-gradient(to bottom right, #EE991A, #EC3059);
    /* bron: https://www.w3schools.com/css/css3_gradients.asp */
    padding: 1em;
    display: inline-block;
    border-radius: .2em;
    color: white;
}


/* wishlist button */
main div img {
    width: 4em;
    position: fixed;
    right: 4em;
    bottom: 4em;
    transition: .5s;
}

main div img:hover {
    transform: scale(1.5, 1.5);
    cursor: pointer;
}

/* hover */

main section article:hover {
    background-color: #201c29;
    /*    background-color: white;*/
    transform: scale(1.02, 1.02);
    /*    cursor: pointer;*/
}


/* Button - meer informatie */

main section article button {
    color: linear-gradient(to bottom right, #EE991A, #EC3059);
    border: none;
    background-color: transparent;
    color: #EE991A;
    font-size: 1em;
    font-style: italic;
    /*    transition: .8s;*/
}

main section article button:hover {
    cursor: pointer;
    text-decoration-line: underline;
}


/* LIGHTMODE */

.lightmode {
    background-color: whitesmoke;
    color: #100e17;
}

.lightmode header {
    border-bottom: 1px solid white;
}

.lightmode main section article:hover {
    background-color: white;
}



/* ----- FOOTER ------ */

footer p {
    text-align: center;
    padding: 1em;
    font-size: .9em;
    font-style: italic;
}
